#tags {
  color: white;
  background-color: black;
  border-radius: 30px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#output {
  background-color: green;
  color: white;
  font-size: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
